<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <!--
        Enable language fallback on Experience Edge
        -->
      <setting name="ExperienceEdge.EnableItemLanguageFallback" set:value="true"/>
      <setting name="ExperienceEdge.EnableFieldLanguageFallback" set:value="true"/>
      <!--
        Don't attempt to resolve site by language for cross-site links
        -->
      <setting name="Rendering.SiteResolvingMatchCurrentLanguage" set:value="false"/>
    </settings>

    <links>
      <urlBuilder>
        <languageEmbedding>never</languageEmbedding>
      </urlBuilder>
    </links>
  </sitecore>
</configuration>
