<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <!--
        Enable original file extensions for media.
      -->
      <setting name="Media.RequestExtension" set:value="" />
    </settings>
    <!--
      Media URLs resolving
      Tells Sitecore to not include the Sitecore server URL as part of the media requests, so that they are instead routed through Next.js rewrites (see next.config.js).
      This eliminates exposing the Sitecore server publicly.
      
      "default" configuration is used for Sitecore GraphQL Edge requests.
      "jss" configuration is used for Sitecore Layout Service REST requests.
    -->
    <layoutService>
      <configurations>
        <config name="default">
          <rendering>
            <renderingContentsResolver>
              <IncludeServerUrlInMediaUrls>false</IncludeServerUrlInMediaUrls>
            </renderingContentsResolver>
          </rendering>
        </config>
        <config name="jss">
          <rendering>
            <renderingContentsResolver>
              <IncludeServerUrlInMediaUrls>false</IncludeServerUrlInMediaUrls>
            </renderingContentsResolver>
          </rendering>
        </config>
      </configurations>
    </layoutService>
  </sitecore>
</configuration>
