<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
  <sitecore>
    <javaScriptServices>
      <publishWebHooks type="Sitecore.JavaScriptServices.AppServices.WebHooks.WebHooks, Sitecore.JavaScriptServices.AppServices">
        <hooks hint="list:AddWebHook">
          <hook type="Sitecore.JavaScriptServices.AppServices.WebHooks.WebHookDefinition, Sitecore.JavaScriptServices.AppServices">
            <name>ssg</name>
            <url>https://api.vercel.com/v1/integrations/deploy/prj_1xVhNd5vyt9pwiDGIA4dkYmThacR/b8iIPXAU1o</url>
            <method>POST</method>
            <site>TestXmCloud</site>
            <body>Request body</body>
          </hook>
          <hook type="Sitecore.JavaScriptServices.AppServices.WebHooks.WebHookDefinition, Sitecore.JavaScriptServices.AppServices">
            <name>ssr</name>
            <url>https://api.vercel.com/v1/integrations/deploy/prj_csDvaWRDAUURdjxzZy2x8WByLgNu/d1ltMnrxPV</url>
            <method>POST</method>
            <site>TestXmCloud</site>
            <body>Request body</body>
          </hook>
          <hook type="Sitecore.JavaScriptServices.AppServices.WebHooks.WebHookDefinition, Sitecore.JavaScriptServices.AppServices">
            <name>hybrid</name>
            <url>https://api.vercel.com/v1/integrations/deploy/prj_Ze4E7HT44XHSHw54Tog4vUWG5flK/kxn9x8NKuA</url>
            <method>POST</method>
            <site>TestXmCloud</site>
            <body>Request body</body>
          </hook>
          <hook type="Sitecore.JavaScriptServices.AppServices.WebHooks.WebHookDefinition, Sitecore.JavaScriptServices.AppServices">
            <name>export</name>
            <url>https://api.vercel.com/v1/integrations/deploy/prj_riDI8mE5QviwXGacxMA1QQuNwA14/5SHN0uX7IT</url>
            <method>POST</method>
            <site>TestXmCloud</site>
            <body>Request body</body>
          </hook>
        </hooks>
      </publishWebHooks>
    </javaScriptServices>
  </sitecore>
</configuration>
